a{
  text-decoration: none;
}

.container-header{
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("/images/background.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  position: absolute;
  z-index: -1;
}

.actual-section{
  background-color: #252525;
}

.container-side-menu{
  margin: 0 10px;
  position: fixed;
}

.cardAnimation{
  animation: bobble 10s infinite;
}

.vectorImage{
  width: 300px;
  height: 250px;
}

@keyframes bobble {
  0% { transform: translateY(20px)};
  50% { transform: translateY(60px)};
  100% { transform: translateY(20px)};
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 10px;
  border: 1px solid white;
  width: 150px;
  margin: 10px 0;
}

.circular-btn:hover {
  background-color: #274494;
}

@media screen and (max-width: 546px) {
  .container-side-menu{
    position: relative;
  }

  .circular-btn{
    width: 100%;
  }

  .vectorImage{
    width: 200px;
    height: 150px;
  }

}