a{
  text-decoration: none;
}

.container-header{
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("/images/background.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10% 10%;
  position: absolute;
  z-index: -1;
}

.container-projects{
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("/images/projectsBack.png");
  background-size: cover;
  border-radius: 10px;
  padding: 20px 10px;
}

.actual-section{
  background-color: #252525;
}

.container-side-menu{
  margin: 0 10px;
  position: fixed;
}

.cardAnimation{
  animation: bobble 2s infinite;
}

.vectorImage{
  width: 300px;
  height: 250px;
}

@keyframes bobble {
  10% { transform: translateY(-40px); };
  50% { transform: translateY(40px) translateX(-20px)};
  80% { transform: translateY(40px); opacity: 0;};
}

@keyframes bobbleSide {
  10% { transform: translateX(-40px); };
  50% { transform: translateX(40px) translateX(-20px)};
  80% { transform: translateX(40px); opacity: 0;};
}

.cardApear{
  animation: rotate .5s linear;
  text-align: center;
}

@keyframes rotate{
  0%{ transform: scale(0); opacity: 0;}
  50%{opacity: 0;}
  100%{ transform: scale(1); opacity: 1;}
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.inputForm{
  margin: 5px;
}

.image-contact-me{
  border-radius: 10px;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 10px;
  border: 1px solid white;
  width: 150px;
  margin: 10px 0;
}

.circular-btn:hover {
  background-color: #274494;
}

@media screen and (max-width: 546px) {
  .container-side-menu{
    position: relative;
  }

  .circular-btn{
    width: 100%;
  }

  .vectorImage{
    width: 200px;
    height: 150px;
  }

  .container-projects{
    padding: 5px;
  }

  .cardAnimation{
    animation: boobleSide 2s infinite;
  }

  .image-contact-me{
    display: none;
  }

}

@media screen and (max-width: 950px) {
  
  .cardAnimation{
    animation: boobleSide 2s infinite;
  }
}